$f14: 14px;
$f16: 16px;
$f18: 18px;
$f20: 20px;
$f22: 22px;
$f24: 24px;
$f26: 26px;
$f28: 28px;
$f30: 30px;
$f32: 32px;
$f34: 34px;
$f36: 36px;
$f38: 38px;
$f40: 40px;
$f46: 46px;
$f48: 48px;
$f50: 50px;
$f60: 60px;

$fe3a50: #fe3a50;
$fe5057: #fe5057;
$fe6a5f: #fe6a5f;
$ff936c: #ff936c;
$ffae72: #ffae72;
$ffad71:#ffad71;
$fe6a5e:#fe6a5e;

$c3: #333333;
$c6: #666666;
$c9: #999999;
$cc: #cccccc;
$ce: #cecece;
$d9: #d9d9d9;
$f2: #f2f2f2;
$f5: #f5f5f5;
$ff: #ffffff;
$ee: #eeeeee;


$z8d80be: #8d80be;

$bo: rgba(206, 206, 206, 0.5);
$statusbo: rgba(242,242,242, 0.6);
$border: rgba(153, 153, 153, 0.5);
$vediobg:rgba(0, 0, 0, 0.9);
$topTitlebg:rgba(141,128,190,0.2);